/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 95%;
  width: 420px;
  margin: 0 auto;
  padding: 50px 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 200%;
}

.header .header__list {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
  gap: 5px;
}

.header .header__list .header__list-item {
  color: #fff;
}

.header .header__list .header__list-item a {
  overflow: hidden;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 20px;
}

.header .header__list .header__list-item-inverted a {
  background-color: #fff;
  color: #111;
}

.cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 30px 0;
  color: #111;
}

.cards .cards__card {
  background-color: #fff;
  padding: 20px 10px;
  border-radius: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .cards__card .card__title {
  font-size: 24px;
}

.cards .cards__card .card__footer {
  font-size: 12px;
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .cards__card .card__footer .price {
  background-color: #E9AFFC;
  padding: 10px;
  border: 1px solid #111;
  border-radius: 35px;
}

.cards .cards__card .card__footer .free {
  background-color: #FFDD2C;
  padding: 10px;
  border: 1px solid #111;
  border-radius: 35px;
}

.cards .cards__card .card__footer .length {
  padding: 10px;
  border: 1px solid #111;
  border-radius: 15px;
  background-color: #fff;
}

.cards .cards__card:first-child {
  border: 1px solid #fff;
  color: white;
  background-color: #292D33;
}

.cards .cards__card:first-child .card__footer span {
  background-color: #fff;
  color: #111;
  border: 1px solid #fff;
}

.cards .cards__card:nth-child(3) {
  background-color: #F9FDBE;
}

.cards .cards__card:nth-child(3) .price {
  background-color: #E9AFFC;
}

.cards .cards__card:nth-child(4) {
  background-color: #B2A0F6;
}

.cards .cards__card:nth-child(5) {
  background-color: #FFD0D0;
}

.cards .cards__card:nth-child(6) {
  background-color: #D0FFDD;
}

.cards .cards__card:nth-child(3n) {
  grid-column: span 2;
}

.cards .cards__card:nth-child(3n) .card__title {
  font-size: 30px;
}
/*# sourceMappingURL=style.css.map */